# datasource configuration
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/resourceservice
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate.ddl-auto=create-drop

song-service:
  path: /api/v1/songs